body {
  color: white !important;
  background-color: black !important;
}

.header-logo > img {
  cursor: pointer;
}

.header-search {
  width: 600px !important;
}

.header-search > input {
  background-color: black;
  border-radius: 40px 0 0 40px;
  border: 1px solid #41464b;
}

.header-search > input:focus {
  background-color: black;
}

.header-search > input::placeholder {
  color: #41464b;
}

.header-search > div > span {
  border: 1px solid #41464b;
  border-radius: 0 40px 40px 0;
  background-color: #41464b;
  width: 70px;
  padding-left: 25px;
}

.header-login {
  padding: 5px 15px;
  background-color: black;
  border: 1px solid #41464b;
  border-radius: 40px;
  width: 100px !important;
  cursor: pointer;
}

.header-login > a {
  margin-left: 5px !important;
  margin-top: 2px !important;
  color: white;
  text-decoration: none;
}

.header-login-profile {

}

.nav-main {
  padding: 0 5px;
}

.nav-sub.active {
  background-color: #41464b;
}

.nav-sub {
  border-radius: 10px;
}

.nav-sub:hover {
  cursor: pointer;
  background-color: #6c757d;
}

.nav-sub > i {
  font-size: 20px !important;
}

.nav-sub > span {
  padding-left: 20px;
  color: white;
  text-decoration: none;
}

.login {
  background-color: white;
  color: black;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

#google-login > span:nth-child(1) > img {
  width: 30px;
}

#google-login > span:nth-child(2) {
  margin-top: 1px;
  margin-left: 1px;
}

#kakao-login {
  background-color: #FEE500;
}

#kakao-login > span:nth-child(1) > img {
  width: 30px;
}

#kakao-login > span:nth-child(2) {
  margin-top: 1px;
  margin-left: 1px;
}

#github-login > span:nth-child(1) > img {
  width: 30px;
}

#github-login > span:nth-child(2) {
  margin-top: 1px;
  margin-left: 1px;
}

#dropdown-basic {
  border: none;
}

#dropdown-basic:hover {
  background-color: transparent;
}

.dropdown-item:active {
  background-color: lightgrey !important;
}

.video-tag {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.video-tag > li:nth-child(1) {
  margin-left: 0;
}

.video-tag > li {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: #41464b;
}

.video-tag > li:hover {
  background-color: white;
  color: black;
}

.video-tag > li.active {
  background-color: white;
  color: black;
}

.video-main {
  margin-top: 10px;
}

.video-main > div > div > img {
  width: 100%;
  border-radius: 5px;
}

.shorts-main {
  margin-top: 30px;
  cursor: pointer;
}

.shorts-main > div > div > img {
  border-radius: 5px;
}

.shorts-main > div > div > p:nth-child(3) {
  font-size: 14px;
  color: gray;
}

